{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="row">
    <div class="col-md-9 p-2">
       <h5 class="bg-danger text-white">Customer details</h5>
       {% for x in products %}
       {% if forloop.counter == 1 %}
       <p><strong>Name:</strong>&nbsp;&nbsp;{{x.uid.first_name}}</p>
       <p><strong>Mobile:</strong>&nbsp;&nbsp;9898989898</p>
       <p><strong>email:</strong>&nbsp;&nbsp;{{x.uid.email}}</p>
       {% endif %}
      {% endfor %} 
    </div>
    <div class="col-md-3 p-2">
        <h5 class="bg-danger text-white">Total amount</h5>
        <p><strong>Total({{n}}items):</strong>&nbsp;&nbsp;{{n}}</p>
        <p><strong>Total amount:</strong>&nbsp;&nbsp;Rs.{{total}}</p>
        <a href="/makepayment"><button class="btn btn-danger">make payment</button></a>

    </div>
</div>
    <h5 class="bg-danger text-white p-2">booking summmary</h5>
    <div class="row">
        {% for x in products %}
        <div class="col-md-4">
            <img src="{{ x.pid.pimage.url }}" width="100%" height="250px"alt="">
        </div>
        <div class="col-md-8">
            <p><strong>Car Name:</strong>&nbsp;&nbsp;{{x.pid.name}}</p>
            <p><strong>Price:</strong>&nbsp;&nbsp;{{x.pid.price}}</p>
            {% if x.pid.cat == 1 %}
            <p><strong>Category:</strong>&nbsp;&nbsp;Suv</p>
            {% elif x.pid.cat == 2 %}
            <p><strong>Category:</strong>&nbsp;&nbsp;Sedan</p>
            {% else %}
            <p><strong>Category:</strong>&nbsp;&nbsp;hatchback</p>
            {% endif %}
            <p><strong>location:</strong>&nbsp;&nbsp;{{x.pid.location}}</p>

            <!--<p>
                <strong>QTY:</strong>
                <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                <input type="number" value="{{x.qty}}">
                <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></a>
            </p>-->

            <a href="/remove/{{x.id}}"><button class="btn btn-danger">Remove</button></a>
        </div> <!-- cart product 1 !-->
        {% endfor %} 
        
    </div>

{% endblock 'main' %}